<mat-toolbar color="primary">
  <span>
    <a routerLink="/post-list">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <!-- <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signUp" routerLinkActive="mat-accent">SignUp</a>
      </li> -->
      <li *ngIf="userIsAuthenticated">
        <a mat-button (click) = "onLogout()" routerLink="/signUp" routerLinkActive="mat-accent">Logout</a>
      </li>
  </ul>
</mat-toolbar>
