mat-form-field,
textarea {
  width: 100%;

}

.mat-card {
   position: absolute;
  top:40vh; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align:center;
}

.btn-register {
  margin: 1rem auto;
 
}

.container {
  position: relative;
}
